doctype html
html(lang='en')
 head
   title Hello, World!
 body
   h1 Hello, Pug!
   div.remark
     p Pug Works!
     ul 
     li 
     a(href='http://nodejs.org/') Node.js homepage
     li 
     a(href='http://npmjs.org/') NPM homepage
     li: a(href='http://nodebits.org/') Nodebits homepage

     | Don't
|
button#self-destruct touch
|
| me!
| Hey, check out 
a(href="https://www.google.com/search?q=kittens+images&rlz=1C1GCEU_enIN995IN995&tbm=isch&source=iu&ictx=1&vet=1&fir=Pq95t5RsKwX5cM%252CdTDdan6TWTOO-M%252C_%253BiXwU1A33szUiaM%252CiFXwKXl3fxx_FM%252C_%253By9fImqTnfNnacM%252CdTDdan6TWTOO-M%252C_%253Bbe6Vbn5fJEijlM%252CI-IejYUlO6OC6M%252C_%253BXmNQmnwM0vihDM%252Cr20-olEUsBpxwM%252C_%253BZGTc3-BFcoQreM%252CSDxWNCfNvi6G6M%252C_%253BI4BuDyTTU7Q76M%252CfuW378NpgyuISM%252C_%253BNkZ0AC6VcMIdEM%252Cgq4SVDgCRpLvaM%252C_%253BH-C-dBUyGIutLM%252CI-IejYUlO6OC6M%252C_%253Blg5q1zj6UCKVAM%252Cr20-olEUsBpxwM%252C_%253Bt1KUh6wSIzyt-M%252CdTDdan6TWTOO-M%252C_%253Bq0SDprj5VxPGCM%252C0KUwskR4Htq7tM%252C_%253BkjeCaVO3_Pa-HM%252C37XgmzfHUthbMM%252C_&usg=AI4_-kToelsc4bA7KiSvW3zO-Kp5_8mekg&sa=X&ved=2ahUKEwib7eDQjuj3AhUMgVYBHeouD68Q9QF6BAgFEAE#imgrc=q0SDprj5VxPGCM") this picture
|  of my cat!